{% extends 'dz2app/base.html' %}

{% block content %}
  <h1>Список заказанных товаров {{ customer }}</h1>

  <h2>За последние 7 дней (неделю)</h2>
    <ol>
        {% for product in products_7_days %}
            {{ product }}<br/>
        {% endfor %}
    </ol>

  <h2>За последние 30 дней (месяц)</h2>
    <ol>
        {% for product in products_30_days %}
            {{ product }}<br/>
        {% endfor %}
    </ol>

  <h2>За последние 365 дней (год)</h2>
    <ol>
       {% for product in products_365_days %}
            {{ product }}<br/>
        {% endfor %}
    </ol>
{% endblock %}
